@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --shadow-blacks: 4px 4px 0 #000;
  --shadow-whites: 4px 4px 0 #fff;
}
.font-Ovo {
  font-family: Ovo, serif;
}
.font-Outfit {
  font-family: Outfit, sans-serif;
}
